.App {
	text-align: center;
	height: 100%;
	max-height: 100%;
}

.main-grid {
	max-height: calc(100% - 64px) !important;
}

.appointments-column {
	max-height: calc(100% - 64px) !important;
	overflow-y: scroll;
}